fastapi==0.109.1
uvicorn==0.27.0
opencv-python==4.9.0.80
numpy==1.26.4
python-dotenv==1.0.1
pydantic==2.6.1
pydantic-settings==2.1.0
psutil==5.9.8
python-multipart==0.0.9
firebase-admin==6.4.0
requests==2.31.0
logging==0.4.9.6
v4l2capture==1.5